body{
	font-family: Arial, "MS Trebuchet", sans-serif;
	background: #f2f2f2;
	color: #505050;
	font-size: 13px;
}
*{
	margin: 0px;
	padding: 0px;
}
#wrapper{
	width: 800px;
	margin: auto;
}
#wrapper h2{
	padding-bottom: 40px;
	text-align: center;
	padding-top: 40px;
}
.items{
	padding: 20px;
	background: #fff;
	width: 300px;
	float: left;
	margin-right: 20px;
}
.items h4, .items img, .items p{
	padding-bottom: 20px;
}